<h1>
  <%= @task["title"] %>
</h1>

  <div>
    <% if @task.completed == true %>

      <div pading= 20px  >
        <%= @task["details"] %>
      </div>

      <div>
        <input type="checkbox" checked> This task is completed
      </div>

    <% else %>
      <%= @task["details"] %>

      <div>
        <input type="checkbox" unchecked> This task is not completed
      </div>
    <% end %>
  </div>

<hr>

<%= link_to "Update", edit_path  %>

<%= link_to "Delete", @task, method: :delete, data: { confirm: 'Are you sure?' }  %>

<%= link_to "Back to list", tasks_path  %>
